nav{
  border-radius: 1%;
}

body {
  background-color: white;
}
div.container-favs {
    margin-right: 1%;
    margin-left: 1%;    
    border-radius: 1%;
    padding-bottom:100%;
    opacity:60%;
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    position: center;
   
}



  html{
    position: fixed;
    width: 100%;
    height: 100%;
  }


footer {
  background-color: #CBA445;
  border-radius: 1%;
  margin: 1%;
  
}


